[submodule "packages/app"]
	path = packages/app
	url = git@github.com:JulianMayorga/full-stack-blog-app.git
[submodule "packages/api"]
	path = packages/api
	url = git@github.com:JulianMayorga/full-stack-blog-api.git
